@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Poppins:wght@300&display=swap");

:root {
  font-family: "Poppins";
  color: #323232;
}

/* * {
  padding: 0;
  margin: 0;
} */

nav a {
  color: #323232;
  text-decoration: none;
}

nav a div {
  padding: 0.5em 1em;
  /* max-width: 100%; */
}

nav a div:hover {
  background-color: #EFEFEF;
}

h2 {
  font-family: "Libre Baskerville";
  padding-top: 1em;
}

.code {
  background-color: #EFEFEF;
  padding-bottom: 1em;
}

.code-title {
  background-color: #E0E0E0;
  padding: 0.8em;
}

.code-content {
  padding: 0.7em 1.5em;
}

.blue-code {
  color: #0026f2;
}

.red-code {
  color: #84191a;
}

.green-code {
  color: #326d1e;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 5fr 5fr 5fr;
}

.grid {
  padding: 5% 5% 5% 5%;
}

.grid-border {
  border-top: 0.2em solid #E0E0E0;
}

.strong {
  font-weight: 800;
}

body {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  header {
    min-width: 255px;
    /* overflow-y: auto;
    overflow-x: hidden; */
    height: 100vh;
    
    border-right: 0.3em solid #EFEFEF;
  }

  nav {
    position: fixed;
    width: 255px;
    z-index: 2;
  }

  body {
    flex-direction: row;
  }

  main {
    padding: 0 2em;
  }
}
